:root{
  --Black: rgb(49 45 52);
  --BlackLigth: rgb(112 111 111);
  --Gray: rgb(161 161 161);
  --White: rgb(255 255 255);
  --WhiteLigth: rgb(217 212 212);
  --Yellow: rgb(251 199 22);
  --WhiteYellow: rgb(249 234 139);
}

  *{
    margin: 0px;
    padding: 0px;
  }
  /*web-kit*/
    input[type=file]{
      display: none;
    }
    ::-webkit-inner-spin-button{

      -webkit-appearance: none;
    }
    ::-webkit-scrollbar{

      width: 8px;
    }

    ::-webkit-scrollbar-thumb{
      background: rgb(0 0 0 /50%);
      border-radius: 3px;
    }
    .ocultar{
      display: none;
    }
    button:focus, button:focus-visible, input:focus-visible, input:focus, select:focus-visible, select:focus, textarea:focus-visible, textarea:focus{
      outline: none;
    }
body{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: overlay;
  background-color: var(--Black);
}
.Caveira{
  display: flex;
  width: 42vw;
  height: 82vh;
  align-items: center;
  justify-content: center;
}
  .Cranio{
    display: flex;
    border-radius: 12vw;
    width: 41vw;
    height: 68vh;
    background-color: var(--WhiteLigth);
    margin-top: -14vh;
    position: absolute;
    justify-content: center;
    z-index: 1;
  }
    .CranioL{
      display: flex;
      border-radius: 12vw;
      width: 36vw;
      height: 54vh;
      background-color: var(--White);
      position: absolute;
      align-items: center;
      justify-content: center;
      z-index: 1;
    }
      .Eyes{
        display: flex;
        width: 32vw;
        height: 17vh;
        position: absolute;
        align-items: center;
        justify-content: space-between;
        z-index: 1;
        margin-top: 17vh;
      }
        .Eye{
          display: flex;
          width: 10vw;
          height: 10vw;
          background-color: var(--Black);
          border: 6px solid var(--BlackLigth);
          border-radius: 6vw;
          animation: 10s fecharOlhos linear infinite both;
        }
          .Iris{
            display: flex;
            width: 5vw;
            height: 5vw;
            border-radius: 6vw;
            background-color: var(--Yellow);
            box-shadow: 0px 0px 5px var(--Yellow);
            justify-content: center;
            align-items: center;
          }
            .Pupila{
              display: flex;
              width: 2vw;
              height: 2vw;
              border-radius: 30px;
              background-color: var(--Black);
              box-shadow: 0px 0px 5px var(--Gray);
            }
.Naris{
  width: 8vw;
  height: 16vh;
  margin-top: 11vh;
  position: absolute;
  align-items: center;
  justify-content: space-between;
  z-index: 4;
  display: flex;
}
  .Nose{
    display: flex;
    width: 2.5vw;
    height: 10vh;
    background-color: var(--Black);
    z-index: 3;
    border-radius: 46px;
    border: 5px solid var(--BlackLigth);
    transform: rotate(11deg);
  }
    #NoseB{
      transform: scale(-1, -1) rotate(-11deg);
    }
.Bochexas{
  display: flex;
  width: 34vw;
  height: 21vh;
  margin-top: 23vh;
  position: absolute;
  align-items: center;
  justify-content: space-between;
  z-index: 3;
}
  .Bochexa{
    display: flex;
    width: 11vw;
    height: 16vh;
    background-color: var(--WhiteLigth);
    z-index: 3;
    border-radius: 3vw;
    justify-content: center;
  }
    .BochexaL{
      width: 11vw;
      height: 14vh;
      background-color: var(--White);
      z-index: 3;
      border-radius: 3vw;
    }
.boca{
  display: flex;
  border-radius: 3vw;
  width: 25vw;
  height: 35vh;
  background-color: var(--WhiteLigth);
  margin-top: 43vh;
  position: absolute;
  justify-content: center;
  z-index: 2;
}
  .bocaL{
    display: flex;
    border-radius: 4vw;
    width: 88%;
    height: 87%;
    background-color: var(--White);
    align-items: center;
    justify-content: center;
    z-index: 2;
  }

@keyframes fecharOlhos{
  0%{
    height: 10vw;
  }
  25%{
    height: 5vh
  }
  50%{
    height: 0vh;
  }
  75%{
    height: 2vh;
  }
  100%{
    height: 5vh;
  }
}